<html>
  <head>
    <title>Verificación de Email</title>
    <meta charset="utf-8" />
  </head>
  <body>
    {{#if success}}
      <h1>¡Email verificado!</h1>
      <p>{{message}}</p>
    {{else}}
      <h1>Error de verificación</h1>
      <p>{{message}}</p>
    {{/if}}
  </body>
</html> 